html {
    font-family: 'Hack', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    
    & .body-content {
        position: relative;
        top: 0;
        height: 100vh;
        overflow: hidden;
    }
}

.sidebar {
    height: 100vh;
    position: fixed;
    width: 25%;
    background-image: linear-gradient(to bottom left, #EA8D8D, #A890FE);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    & img {
        width: 180px;
        height: 180px;
        border: 10px solid #eee;
        border-radius: 50%;
    }

    & .nav-item {
        display: block;
        color: white;
        margin: 50px 0;
        text-decoration: none;
    }
    
    & .nav-item:hover {
        color: white;
    }
}

.contents {
    background-color: white;
    width: 75%;
    float: right;
    
    & .content-item {
        min-height: 100vh;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#about {

    & span {
        font-size: 86px;
        font-weight: bold;
        background-image: linear-gradient(to bottom left, #EA8D8D, #A890FE);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & h4, p {
        color: #333;
    }

    & h4 {
        margin-block-start: 0;
    }

    & p {
        width: 850px;
        margin-top: 30px;
        line-height: 24px;
    }

    & .social-links {
        width: 250px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    & i {
        font-size: 50px;
    }
}

#edu {
    color: #333;

    & h2 {
        font-size: 46px;
    }

    & .edu-location {
        width: 940px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        & h3 {
            font-size: 28px;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        & span {
            background-image: linear-gradient(to bottom left, #EA8D8D, #A890FE);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & h5 {
        color: #777;
        font-size: 16px;
        margin-block-start: 10px;
    }

    & span {
        font-size: 20px;
    }
}

#projects {
    color: #333;

    & h2 {
        font-size: 46px;
    }

    & .project-date {
        width: 940px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        & h3 {
            font-size: 28px;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        & span {
            background-image: linear-gradient(to bottom left, #EA8D8D, #A890FE);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & h5 {
        color: #777;
        font-size: 16px;
        margin-block-start: 10px;
    }
}